logs/**
!logs/.gitkeep
vendor/
.history/
*.bak
commit-msg.md

# megalinter
megalinter-reports/
*megalinter_file_names_cspell.txt

# docsify github pages
pages/*.md
pages/_site/
pages/doc/
pages/bashDoc/
pages/tests/
!**/_sidebar.md
!**/_navbar.md
bin/buildBinFilesTmp
