/logs/*
!/logs/.gitkeep
/vendor/
/.history/
/megalinter-reports/
/_site/
/doc/
/.jekyll-metadata

# bash-tools reused binaries
/bin/awkLint
/bin/shellcheckLint
/bin/test
/bin/runBuildContainer

/jekyll/*.md
/jekyll/_site
/jekyll/bashDoc
/jekyll/tests
/jekyll/bashDoc
