external-sources=true
enable=require-variable-braces
enable=avoid-nullary-conditions
enable=add-default-case
enable=quote-safe-variables
enable=require-double-brackets
enable=check-set-e-suppressed
enable=deprecate-which
source-path=SCRIPTDIR
#enable=check-unassigned-uppercase
#enable=check-extra-masked-returns
# special property used by shellcheckLint
exclude=(^bin/|\.bats$|src/batsHeaders.sh$|/testsData/)
