external-sources=true
enable=require-variable-braces
enable=avoid-nullary-conditions
enable=add-default-case
enable=quote-safe-variables
enable=require-double-brackets
source-path=SCRIPTDIR
# special property used by shellcheckLint
exclude=(^bin/bash-tpl$|\.bats$|\.tpl$|/testsData/)
