external-sources=true
enable=require-variable-braces
enable=avoid-nullary-conditions
enable=add-default-case
enable=quote-safe-variables
enable=require-double-brackets
source-path=SCRIPTDIR
# special property used by shellcheckLint
exclude=(^bin/|\.bats$|src/batsHeaders.sh$|/testsData/)
